article, aside, details, figcaption, figure, footer, header, hgroup, nav, section, summary {
  display: block;
}

audio, canvas, video {
  display: inline-block;
}

audio:not([controls]) {
  display: none;
  height: 0;
}

[hidden] {
  display: none;
}

html {
  font-family: sans-serif;
  -webkit-text-size-adjust: 100%;
  -ms-text-size-adjust: 100%;
}

a:focus {
  outline: thin dotted;
}

a:active, a:hover {
  outline: 0;
}

h1 {
  font-size: 2em;
}

abbr[title] {
  border-bottom: 1px dotted;
}

b, strong {
  font-weight: 700;
}

dfn {
  font-style: italic;
}

mark {
  background: #ff0;
  color: #000;
}

code, kbd, pre, samp {
  font-family: monospace, serif;
  font-size: 1em;
}

pre {
  white-space: pre-wrap;
  word-wrap: break-word;
}

q {
  quotes: \201C \201D \2018 \2019;
}

small {
  font-size: 80%;
}

sub, sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline;
}

sup {
  top: -.5em;
}

sub {
  bottom: -.25em;
}

img {
  border: 0;
}

svg:not(:root) {
  overflow: hidden;
}

fieldset {
  border: 1px solid silver;
  margin: 0 2px;
  padding: .35em .625em .75em;
}

button, input, select, textarea {
  font-family: inherit;
  font-size: 100%;
  margin: 0;
}

button, input {
  line-height: normal;
}

button, html input[type=button], input[type=reset], input[type=submit] {
  -webkit-appearance: button;
  cursor: pointer;
}

button[disabled], input[disabled] {
  cursor: default;
}

input[type=checkbox], input[type=radio] {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  padding: 0;
}

input[type=search] {
  -webkit-appearance: textfield;
  -webkit-box-sizing: content-box;
  box-sizing: content-box;
}

input[type=search]::-webkit-search-cancel-button, input[type=search]::-webkit-search-decoration {
  -webkit-appearance: none;
}

textarea {
  overflow: auto;
  vertical-align: top;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

body, figure {
  margin: 0;
}

legend, button::-moz-focus-inner, input::-moz-focus-inner {
  border: 0;
  padding: 0;
}

.clearfix:after {
  visibility: hidden;
  display: block;
  font-size: 0;
  content: '';
  clear: both;
  height: 0;
}

* {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

.visuallyHidden:not(:focus):not(:active) {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  -webkit-clip-path: inset(100%);
          clip-path: inset(100%);
  clip: rect(0 0 0);
  overflow: hidden;
}

html {
  font-size: 125%;
}

h1,
h3,
h5 {
  font-family: 'Rufina', serif;
  color: #000a2d;
  font-weight: 700;
}

h2,
h4 {
  font-family: 'Rubik', sans-serif;
  color: #ff3d4f;
  font-weight: 400;
}

h2 {
  font-size: 1rem;
}

h4 {
  font-size: .8rem;
}

p, li, input, textarea, .secondary, .category {
  font-family: 'Rubik', sans-serif;
  color: #6B7494;
}

ul {
  padding-left: 20px;
}

h3 {
  font-size: 2.5rem;
  max-width: 600px;
  margin: 0 0 1rem;
}

h4 {
  margin: 15px 0 5px;
}

h5 {
  font-size: 1.2rem;
  margin: 0;
}

p {
  line-height: 1.75;
  font-size: .9rem;
}

a {
  color: #ff3d4f;
}

img {
  width: 100%;
}

.highlight {
  color: #ff3d4f;
}

.secondary, .category {
  font-weight: 400;
  font-size: .75rem;
  white-space: nowrap;
}

.category {
  font-size: 1.2rem;
}

button, .button {
  padding: 15px 40px;
  margin-right: 20px;
  display: inline-block;
  background: #ff3d4f;
  color: #fff;
  border: 1px solid #ff3d4f;
  border-radius: 30px;
  font-size: .8rem;
  text-transform: uppercase;
  -webkit-transition: all 500ms cubic-bezier(0.25, 0.8, 0.25, 1);
  transition: all 500ms cubic-bezier(0.25, 0.8, 0.25, 1);
  text-decoration: none;
}

button.outline, .button.outline {
  background: #fff;
  color: #6B7494;
  border: 1px solid #6B7494;
}

button.outline:hover, button.outline:focus, .button.outline:hover, .button.outline:focus {
  -webkit-box-shadow: 0 14px 28px rgba(0, 0, 0, 0.23);
          box-shadow: 0 14px 28px rgba(0, 0, 0, 0.23);
}

button:hover, button:focus, .button:hover, .button:focus {
  -webkit-box-shadow: 0 14px 28px rgba(255, 61, 79, 0.25), 0 10px 10px rgba(255, 61, 79, 0.22);
          box-shadow: 0 14px 28px rgba(255, 61, 79, 0.25), 0 10px 10px rgba(255, 61, 79, 0.22);
}

.skills {
  list-style: none;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  padding: 0;
  margin: 10px 0;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
}

.skills li {
  margin: 10px 20px;
  font-size: .8rem;
  white-space: nowrap;
  -webkit-box-flex: 1;
      -ms-flex: 1 1 150px;
          flex: 1 1 150px;
}

.skills i {
  margin-right: 10px;
  color: #ff3d4f;
}

.menu input,
.menu label,
.menu span {
  display: none;
}

.wrapper {
  width: 90%;
  max-width: 1600px;
  margin: 0 auto;
}

section {
  padding: 50px 0;
}

.twoColumn {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin: 0 -20px;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
}

.twoColumn .col1, .twoColumn .col2 {
  -webkit-box-flex: 1;
      -ms-flex: 1 1 500px;
          flex: 1 1 500px;
  margin: 0 20px;
}

.socialLinks ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  list-style: none;
  padding: 0;
}

.socialLinks li {
  margin-right: 20px;
}

.socialLinks a {
  color: #ff3d4f;
}

.socialLinks a:hover {
  color: #ffa3ac;
}

header {
  position: fixed;
  width: 100%;
  background: #fff;
  -webkit-box-shadow: 0 -2px 3px #000;
          box-shadow: 0 -2px 3px #000;
  z-index: 999;
}

header h1 {
  margin: 15px 0;
  cursor: pointer;
}

header .wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

header nav ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  justify-items: flex-end;
  list-style: none;
  padding: 0;
}

header nav li {
  margin-left: 20px;
  font-size: 0.8rem;
}

header nav a {
  color: #000a2d;
  text-decoration: none;
  display: inline-block;
  outline: none;
  position: relative;
  -webkit-transition: color 250ms ease-in-out;
  transition: color 250ms ease-in-out;
}

header nav a:after {
  display: block;
  position: absolute;
  bottom: -10px;
  content: '';
  border-bottom: solid 2px #ff3d4f;
  width: 100%;
  -webkit-transform: scaleX(0);
          transform: scaleX(0);
  -webkit-transition: -webkit-transform 250ms ease-in-out;
  transition: -webkit-transform 250ms ease-in-out;
  transition: transform 250ms ease-in-out;
  transition: transform 250ms ease-in-out, -webkit-transform 250ms ease-in-out;
  -webkit-transform-origin: 100% 50%;
          transform-origin: 100% 50%;
}

header nav a:hover, header nav a:focus {
  color: #ff3d4f;
}

header nav a:hover:after, header nav a:focus:after {
  -webkit-transform: scaleX(1);
          transform: scaleX(1);
  -webkit-transform-origin: 0 50%;
          transform-origin: 0 50%;
}

header nav a:focus {
  outline: none;
}

header nav .active a {
  color: #ff3d4f;
}

header nav .active a:after {
  -webkit-transform: scaleX(1);
          transform: scaleX(1);
  -webkit-transform-origin: 0 50%;
          transform-origin: 0 50%;
}

.hero {
  background: #f6f5ff;
  padding: 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: flex-end;
  padding-top: 100px;
  min-height: 0;
}

.hero .wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.hero .col1 {
  -webkit-box-flex: 1;
      -ms-flex: 1 1 450px;
          flex: 1 1 450px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.hero .col2 {
  -webkit-box-flex: 1;
      -ms-flex: 1 1 350px;
          flex: 1 1 350px;
  -ms-flex-item-align: end;
      align-self: flex-end;
}

.hero .col2 img {
  display: block;
  max-width: 500px;
  margin: 0 auto;
}

.hero h3 {
  max-width: 600px;
  font-size: 3rem;
  margin: 0 0 30px;
}

.hero p {
  color: #ff3d4f;
}

.about h3 {
  max-width: 550px;
}

.about .col1 {
  -webkit-box-flex: 1;
      -ms-flex: 1 1 375px;
          flex: 1 1 375px;
}

.about .col2 {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  border: 5px solid #f6f5ff;
  -webkit-box-flex: 1;
      -ms-flex: 1 1 375px;
          flex: 1 1 375px;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.about h5 {
  -webkit-box-flex: 0;
      -ms-flex: 0 0 calc(100% - 36px);
          flex: 0 0 calc(100% - 36px);
  margin: 1em 18px 0;
}

.portfolio {
  background: #f6f5ff;
}

.portfolio .container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  margin: 0 -20px;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.portfolio .portfolioItem {
  background: #fff;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  border-radius: 0px;
  padding: 20px;
  -webkit-box-flex: 1;
      -ms-flex: 1 1 300px;
          flex: 1 1 300px;
  margin: 20px;
  max-width: 500px;
  -webkit-transition: all 0.3s cubic-bezier(0.25, 0.8, 0.25, 1);
  transition: all 0.3s cubic-bezier(0.25, 0.8, 0.25, 1);
}

.portfolio .portfolioPreview {
  width: calc(100% + 40px);
  margin: -20px -20px 0;
}

.portfolio .portfolioDescription {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-flex: 1;
      -ms-flex-positive: 1;
          flex-grow: 1;
}

.portfolio button {
  display: block;
  margin: auto auto 10px;
}

.portfolio .moreDetails {
  display: none;
}

.portfolio .moreDetails p {
  margin-top: 0;
}

.portfolioItem.expanded {
  position: relative;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-flex: 1;
      -ms-flex: 1 1 100%;
          flex: 1 1 100%;
  -webkit-box-ordinal-group: 0;
      -ms-flex-order: -1;
          order: -1;
  max-width: 1600px;
}

.portfolioItem.expanded .portfolioPreview {
  -webkit-box-flex: 0;
      -ms-flex: 0 0 300px;
          flex: 0 0 300px;
  -webkit-transform: translate(-35px, -35px);
          transform: translate(-35px, -35px);
  margin: 0;
}

.portfolioItem.expanded .portfolioPreview img {
  width: calc(100% + 15px);
}

.portfolioItem.expanded .moreDetails {
  display: block;
}

.portfolioItem.expanded .expand {
  display: none;
}

.portfolioItem.expanded .shrink {
  position: absolute;
  top: -15px;
  right: -15px;
  margin: 0;
  padding: 0;
  width: 40px;
  height: 40px;
  border-radius: 50%;
  line-height: 1;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.portfolioItem.expanded .shrink:hover {
  -webkit-box-shadow: 0 14px 28px rgba(255, 61, 79, 0.25), 0 10px 10px rgba(255, 61, 79, 0.22);
          box-shadow: 0 14px 28px rgba(255, 61, 79, 0.25), 0 10px 10px rgba(255, 61, 79, 0.22);
}

.portfolioItem.expanded .skills li {
  margin: 10px 20px 10px 0;
  -webkit-box-flex: unset;
      -ms-flex: unset;
          flex: unset;
}

.resume .col1 {
  -webkit-box-flex: 1;
      -ms-flex: 1 1 500px;
          flex: 1 1 500px;
  margin-bottom: 50px;
}

.resume .col2 {
  -webkit-box-flex: 1;
      -ms-flex: 1 1 350px;
          flex: 1 1 350px;
}

.resume .resumeItem {
  border-left: solid 1px #ff3d4f;
  padding: 0 20px 20px;
  position: relative;
  margin-left: 8px;
}

.resume .resumeItem h4 {
  margin-top: 0;
}

.resume .resumeItem .waypoint {
  height: 16px;
  width: 16px;
  border-radius: 50%;
  border: 5px solid white;
  background: #ff3d4f;
  position: absolute;
  left: -8px;
  -webkit-box-shadow: 0 14px 28px rgba(255, 61, 79, 0.25), 0 0 10px rgba(255, 61, 79, 0.2);
          box-shadow: 0 14px 28px rgba(255, 61, 79, 0.25), 0 0 10px rgba(255, 61, 79, 0.2);
}

.resume .resumeItem li {
  font-size: .8rem;
  padding-bottom: 10px;
  line-height: 1.5;
}

.resume .images {
  margin-top: 50px;
  margin-left: 8px;
}

.resume .images figure {
  position: relative;
}

.resume .images figcaption {
  position: absolute;
  width: 260px;
  color: #6B7494;
  font-family: 'Rubik', sans-serif;
  background: rgba(255, 255, 255, 0.95);
  padding: 10px;
  line-height: 1.5;
  font-size: .7rem;
}

.resume .images img {
  display: block;
  width: 70%;
}

.resume .images figure:first-of-type figcaption {
  left: 0;
  top: 10px;
  border-left: 1px solid #ff3d4f;
}

.resume .images figure:first-of-type img {
  margin-left: auto;
}

.resume .images figure:last-of-type {
  margin-top: -25%;
}

.resume .images figure:last-of-type figcaption {
  right: 0;
  bottom: 10px;
  border-right: 1px solid #ff3d4f;
}

.resume .images figure:last-of-type img {
  margin-right: auto;
  margin-bottom: 50px;
}

.resume .button {
  margin-top: 50px;
}

.contact {
  background: url("./../assets/bgMap.png") 50% 50%/cover #f6f5ff;
  min-height: 100vh;
}

.contact .col2 {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-flex: 1;
      -ms-flex: 1 1 100px;
          flex: 1 1 100px;
}

.contact form {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  margin-bottom: 40px;
}

.contact .formHalf {
  -webkit-box-flex: 1;
      -ms-flex: 1 1 50%;
          flex: 1 1 50%;
}

.contact .formHalf:first-of-type {
  margin-right: 20px;
  -webkit-box-flex: 1;
      -ms-flex: 1 1 calc(50% - 20px);
          flex: 1 1 calc(50% - 20px);
}

.contact .formFull {
  -webkit-box-flex: 1;
      -ms-flex: 1 1 100%;
          flex: 1 1 100%;
}

.contact input, .contact textarea {
  width: 100%;
  margin-bottom: 20px;
  padding: 10px;
  border: solid 1px #6B7494;
  border-radius: 0;
  -webkit-appearance: none;
  -webkit-transition: all 500ms cubic-bezier(0.25, 0.8, 0.25, 1);
  transition: all 500ms cubic-bezier(0.25, 0.8, 0.25, 1);
}

.contact input:focus, .contact textarea:focus {
  -webkit-box-shadow: 0 10px 12px rgba(0, 0, 0, 0.18);
          box-shadow: 0 10px 12px rgba(0, 0, 0, 0.18);
  border: solid 1px #e1e3ea;
}

.contact textarea {
  min-height: 150px;
  resize: none;
}

.contact .socialLinks {
  background: #fff;
  padding: 20px;
  -webkit-box-flex: 1;
      -ms-flex: 1 1 100%;
          flex: 1 1 100%;
}

.contact .socialLinks i {
  font-size: 1.2rem;
  margin-right: 20px;
}

footer {
  background: #000a2d;
  padding: 10px;
}

footer P {
  text-align: center;
  margin: 0;
}

@media only screen and (max-width: 988px) {
  .images {
    display: none;
  }
}

@media only screen and (max-width: 750px) {
  h1 {
    font-size: 1.6rem;
  }
  .portfolioItem.expanded .portfolioPreview {
    -webkit-box-flex: 0;
        -ms-flex: 0 0 250px;
            flex: 0 0 250px;
  }
}

@media only screen and (max-width: 660px) {
  h1 {
    z-index: 99;
  }
  .hero h3, h3 {
    font-size: 2rem;
  }
  h5 {
    font-size: 1rem;
  }
  .twoColumn, .portfolio .container {
    margin-left: 0;
    margin-right: 0;
  }
  .twoColumn .col1, .twoColumn .col2, .portfolio .container .col1, .portfolio .container .col2 {
    margin-left: 0;
    margin-right: 0;
  }
  .twoColumn .portfolio .portfolioItem, .portfolio .container .portfolio .portfolioItem {
    margin-left: 20px;
    margin-right: 20px;
  }
  .skills li {
    margin: 10px 10px;
    font-size: .7rem;
    white-space: nowrap;
    -webkit-box-flex: 0;
        -ms-flex: none;
            flex: none;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
  }
  .portfolio .portfolioPreview {
    width: calc(100% + 20px);
    margin: -10px -10px 0;
  }
  .portfolioItem.expanded {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    margin-top: 50px;
  }
  .portfolioItem.expanded .portfolioPreview {
    width: calc(100% + 80px);
    -webkit-transform: translate(-40px, -50px);
            transform: translate(-40px, -50px);
    -webkit-box-flex: 0;
        -ms-flex: none;
            flex: none;
    margin-bottom: -50px;
  }
  .portfolioItem.expanded .portfolioPreview img {
    width: 100%;
  }
  .portfolioItem.expanded .shrink {
    top: -50px;
    right: calc(50% - 20px);
  }
  .menu span {
    text-transform: none;
    opacity: 1;
    font-weight: 300;
    font-size: 12px;
    display: block;
  }
  .menu input {
    opacity: 0;
    display: block;
  }
  .menu input + label {
    position: absolute;
    top: 25px;
    right: 5%;
    height: 20px;
    width: 30px;
    z-index: 5;
  }
  .menu input + label span {
    position: absolute;
    width: 100%;
    height: 2px;
    top: 50%;
    margin-top: -1px;
    left: 0;
    display: block;
    background: #000a2d;
    -webkit-transition: 0.5s;
    transition: 0.5s;
  }
  .menu input + label span:first-child {
    top: 2px;
  }
  .menu input + label span:last-child {
    top: 18px;
  }
  .menu label {
    display: block;
  }
  .menu label:hover {
    cursor: pointer;
  }
  .menu input:checked + label span {
    opacity: 0;
    top: 50%;
  }
  .menu input:checked + label span:first-child {
    opacity: 1;
    -webkit-transform: rotate(225deg);
            transform: rotate(225deg);
  }
  .menu input:checked + label span:last-child {
    opacity: 1;
    -webkit-transform: rotate(-225deg);
            transform: rotate(-225deg);
  }
  .menu nav {
    background: #fff;
    position: absolute;
    padding-top: 0;
    max-width: none;
    top: 0;
    left: 0;
    width: 100%;
    height: 0px;
    z-index: 3;
    -webkit-transition: 0.5s;
    transition: 0.5s;
    -webkit-transition-delay: 0.2s;
            transition-delay: 0.2s;
  }
  .menu nav {
    text-align: center;
    position: absolute;
    display: block;
    list-style: none;
    padding: 0;
  }
  .menu nav ul {
    display: block;
    margin: 70px auto 0;
    max-width: 100px;
    -webkit-transform: translateY(-200px);
            transform: translateY(-200px);
    -webkit-transition: 0.5s;
    transition: 0.5s;
    -webkit-transition-delay: 0.2s;
            transition-delay: 0.2s;
  }
  .menu nav li {
    margin: 30px 0;
    opacity: 0;
    -webkit-transition: all 500ms;
    transition: all 500ms;
  }
  .menu input:checked ~ nav {
    height: 270px;
    -webkit-box-shadow: 0 -2px 3px #000;
            box-shadow: 0 -2px 3px #000;
  }
  .menu input:checked ~ nav > ul {
    -webkit-transform: translateY(0);
            transform: translateY(0);
  }
  .menu input:checked ~ nav > ul > li {
    opacity: 1;
    -webkit-transition-delay: 0.4s;
            transition-delay: 0.4s;
  }
}

@media only screen and (max-width: 500px) {
  p {
    font-size: .8rem;
  }
  h3, .hero h3 {
    font-size: 1.5rem;
  }
  .hero {
    padding-top: 75px;
  }
  .hero .socialLinks ul {
    margin-top: 0;
  }
  .portfolioItem.expanded .moreDetails {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
  }
  .portfolioItem.expanded .moreDetails p, .portfolioItem.expanded .moreDetails .skills {
    width: 100%;
  }
  .portfolioItem.expanded .moreDetails .button {
    padding: 10px 20px;
    margin: 5px;
  }
  .portfolioItem.expanded .moreDetails .outline {
    margin-left: 10px;
  }
  .contact .socialLinks i {
    font-size: 1rem;
    margin-right: 10px;
  }
}

@media only screen and (max-width: 400px) {
  h1 {
    font-size: 1.2rem;
  }
  .menu input + label {
    top: 20px;
  }
}
/*# sourceMappingURL=styles.css.map */